figcaption{
    font-size: 0.7rem;
}

body > header{
    background-image: url(../images/layout/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.row > aside, .row > section{
        box-shadow: 0 0 5px #0074D9;
}


input[name="reply"][value="yes"]:checked ~ div{
    transition: 0.3s linear 50ms;
    transform: scale(1, 1);
}

input[name="reply"] ~ div{
    transform: scale(1, 0);
}

input:invalid{
    border-color: red;
}

input:not([type="submit"]):not(:placeholder-shown):valid{
    border-color: lightgreen;
}

.train-content caption:before{
  content: 'Åker från: ';
}

.weather-content td:nth-child(3):after{
  content: '\2103';
}

.weather-content td:nth-child(4):after{
  content: 'm/s';
}

.train-content {
  min-height: 500px;
}
