body{
    background-color: #e8eaed;
}

.container > header {
    background-image: url(../images/layout/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    font-size: 1.5em;
    color: #242291;


}

.container > article{
	border-top: 5px solid #8aa5d1;
    border-radius: 10px 10px 0 0;
	padding: 20px;
	margin: 40px 0 10% 5%;
    width: 60%;
    background-color: #ffffff;
    font-size: 1.4em;
}

.nicksta-info{
    clear: left
}

.nicksta-info > figure{
    float: left;
    margin-right: 30px;
}