body{
    background-color: #e8eaed;
}

.container-main > header {
    background-image: url(../images/layout/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    font-size: 1.5em;
    color: #242291;


}

.container-main > article{
	border-top: 5px solid #8aa5d1;
    border-radius: 10px 10px 0 0;
	padding: 20px;
	margin: 40px 0 10% 5%;
    width: 60%;
    background-color: #ffffff;
    font-size: 1.4em;
    margin-bottom: 0;
}

.nicksta-info{
    clear: left
}

.nicksta-info > figure{
    float: left;
    margin-right: 30px;
}

.container-aside{
    position: absolute;
    right: 2%;
    top: 280px;
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 20px;
    border-radius: 15px;
}

.container-aside img{
    float: right;
    margin-bottom: 30px;
    width: 90%;
}

.container-aside header {
    text-align: center;
    font-size: 1.2em;
}