<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/style/header.css" rel="stylesheet">
    <title>Nickstabadet</title>
</head>

<body>
    <a href="../index.html">Go back..</a>
    <br>
    
    <section class="container">
        <header>
            <h1>Nickstabadet</h1>
            <p>Ett solig sommarbad</p>
        </header>
        <article>
            <h2>Nicksta</h2>
            <section class="nicksta-info">
                <h3>Bo nära Nynäshamns populära havsbad</h3>
                <figure>
                    <img alt="camping" src="assets/images/camping.jpg" width="140px" height="140px">
                    <figcaption>Havs camping</figcaption>
                </figure>
                <p>
                    Campingplatsen ligger vid Nickstabadet, Nynäshamns populära havsbad med stor fin sandstrand. 
                </p>
                <p>
                    Här finns 130 campingtomter för husvagnar, husbilar och tält, samt 28 stugor för dig som kommer utan eget boende men ändå vill njuta av anläggningens service och utbud.
                </p>
            </section>
            
            <section class="nicksta-info">
                <h3>Plaska, åk vattenrutschkana, hyr kanot</h3>
                <figure>
                    <img alt="camping" src="assets/images/kanot.jpg" width="140px" height="140px">
                    <figcaption>Kanot uthurning</figcaption>
                </figure>
                <p>
                    Vid stranden finns brygga med hopptorn, lång vattenrutschbana och du kan hyra kanot och kajak. Minigolf, kiosk, grill och glassbar finns också här, samt restaurang med rättigheter. Trubadurkvällar anordnas också.
                </p>
                <p>
                    Härifrån är det 700 meter till pendeltågstation (hpl Nynäsgård) med 55 minuters restid till Stockholms centralstation. Ca 10 min
                </p>
            </section>
        </article>
    </section>
</body>
</html>
